/*Social Media Icons*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

body{
  font: 10px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background:url('../img/blue_backgrnd.jpg') no-repeat;
}

/* Global */
.headercontainer{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.bodycontainer{
  width:80%;
  margin:auto;
  overflow:hidden;
  position: relative;
  min-height: 80vh;
}

ul{
  margin:0;
  padding:0;
}

/* Header **/
header{
  background:#35424a;
  min-height:70px;
  border-bottom:#ffffff 1px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
  text-align: center;
  padding-top: 20px;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:white;
  font-weight:normal;
}

header a:hover{
  color:#cccccc;
  font-weight:normal;
}

/* Boxes */
#boxes{
  margin-top:20px;
  margin-left: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  font-weight: normal;
  width:22%;
  padding:10px;
  color: #35424a;
  cursor: pointer;
  border:  #a3e4d7  3px solid;
  border-radius: 15px;
  margin: 20px;
}

.box:hover{
  background: #e8f8f5;
}

#boxes .box img{
  width:90px;
}
#boxes a:link,  a:visited{
  text-decoration: none;
}

/*Project List*/
#projlist a:link,  a:visited{
  text-decoration: none;
}

.row{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35%;
  padding: 10px;
  height: 80px;
  cursor: pointer;
  border:  #a3e4d7  3px solid;
  border-radius: 15px;
}

.row:hover{
  background: #e8f8f5;
}

.row img{
  float: left;
  width:85px;
  margin-left:10px;
  margin-right:10px;
}

.row h2{
  margin-top: 20px;
  font-weight: normal;
  color: #35424a;
  width: 90%;
}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
  font-size: small;
  border-top:white 1px solid;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #projlist .row,
  #projlist .row h2,
  #boxes .box{
    float:none;
    text-align:center;
    width:85%;
  }

}
